body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

#numeroOrdine{
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-style: italic;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

td {
  color: #555;
}

#totaleOrdine {
  display: block;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

a{
  text-decoration: none;
}

#buttons{
  display: flex;
  justify-content: space-between;
  margin:10px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #73675C;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5C534A;
}

.nameCatalogo{
  color: #de6800 !important;;
  font-style: italic;
}


/*modal style*/

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal form {
  width: auto;
}

.modal input{
  width: 100%;
  margin-bottom: 15px;
}

#successo
 {
  display: block;
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

#errore
 {
  display: block;
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

.verificaIndirizzoButton{
  background-color: grey !important;
}
